mo-sms-service-ws.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- version="1.0" comment="" -->
<wsdl:definitions
    targetNamespace="http://ws.orange.pl/mo-sms-service-ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="http://ws.orange.pl/mo-sms-service-ws"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        ------------------------------------------------------------------------------------------
        Contract interface documentation
        --------------------------------
        Document release: V2_04
        Author (entity): AMG.net
        Creation date: 01/07/2014
        Description: mo-sms-service-ws contract interface
        ------------------------------------------------------------------------------------------
        Changes history
        ---------------
        Version Date Comments
        V2_04 01/07/2014 WSDL contract
        ------------------------------------------------------------------------------------------
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema elementFormDefault="unqualified">
            <xsd:import namespace="http://ws.orange.pl/mo-sms-service-ws" schemaLocation="mo-sms-service-ws.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="DeliverShortMessageRequest">
        <wsdl:part element="impl:DeliverShortMessage" name="parameters" />
    </wsdl:message>
    <wsdl:message name="DeliverShortMessageResponse">
        <wsdl:part element="impl:DeliverShortMessageResponse" name="parameters" />
    </wsdl:message>
    <wsdl:message name="DeliverNotificationRequest">
        <wsdl:part element="impl:DeliverNotification" name="parameters" />
    </wsdl:message>
    <wsdl:message name="DeliverNotificationResponse">
        <wsdl:part element="impl:DeliverNotificationResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="MoSmsServiceWs">
        <wsdl:operation name="DeliverShortMessage">
            <wsdl:input message="impl:DeliverShortMessageRequest" name="DeliverShortMessageRequest" />
            <wsdl:output message="impl:DeliverShortMessageResponse" name="DeliverShortMessageResponse" />
        </wsdl:operation>
        <wsdl:operation name="DeliverNotification">
            <wsdl:input message="impl:DeliverNotificationRequest" name="DeliverNotificationRequest" />
            <wsdl:output message="impl:DeliverNotificationResponse" name="DeliverNotificationResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MoSmsServiceWsSoapBinding" type="impl:MoSmsServiceWs">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="DeliverShortMessage">
            <wsdlsoap:operation soapAction="http://ws.orange.pl/mo-sms-service-ws/delivershortmessage" />
            <wsdl:input name="DeliverShortMessageRequest">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="DeliverShortMessageResponse">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeliverNotification">
            <wsdlsoap:operation soapAction="http://ws.orange.pl/mo-sms-service-ws/delivernotification" />
            <wsdl:input name="DeliverNotificationRequest">
                <wsdlsoap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="DeliverNotificationResponse">
                <wsdlsoap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MoSmsService">
        <wsdl:port binding="impl:MoSmsServiceWsSoapBinding" name="MoSmsServiceWs">
            <wsdlsoap:address location="http://ws.orange.pl/mo-sms-service-ws/MoSmsServiceWs" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
